.table {
    padding-top: 12px;
}

.table td,
.table th {
    position: relative;
    box-shadow: 0 0 3px 1px var(--color-black40);
    padding: 24px 16px;
    text-align: center;
    transition: 0.3s ease-in-out all;
    user-select: none;
}

:global(.wrapper.dark-theme) .table td,
:global(.wrapper.dark-theme) .table th {
    box-shadow: 0 0 3px 1px var(--color-black20);
    color: var(--color-black10);
}

.table th[data-tooltip]::after {
    position: absolute;
    content: attr(data-tooltip);
    top: 0; left: 50%;
    font-size: 9px;
    color: var(--color-black80);
    white-space: nowrap;
    padding: 4px 6px;
    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: 0 0 5px 1px var(--color-black30);
    transform: translate(-50%, -100%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out all 0.3s;
}

.table th[data-tooltip]:hover::after,
.table th[data-tooltip]:active::after {
    visibility: visible;
    opacity: 1;
}

:global(.wrapper.dark-theme) .table th[data-tooltip]::after {
    background-color: var(--color-black90);
    color: var(--color-black10);
    box-shadow: 0 0 5px 1px var(--color-black80);
}

.table tr td:first-of-type,
.table tr th:first-of-type {
    aspect-ratio: 1 / 1;
}

.habitCell {
    padding: 0px !important;
    cursor: pointer;
}

.habitCell.undone {
    background-color: var(--color-habit-undone);
}

.habitCell.nonActive {
    background-color: var(--color-black40);
    cursor: not-allowed;
    pointer-events: none;   
}

:global(.wrapper.dark-theme) .habitCell.nonActive {
    background-color: var(--color-black30);
}

.habitCell.done {
    background-color: var(--color-habit-done);
}

