.mainPanel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 16px;
    margin-bottom: 12px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    box-shadow: 
        0 20px 40px rgba(0, 0, 0, 0.15),
        inset 0 6px 12px rgba(255, 255, 255, 0.4),
        inset 0 -6px 12px rgba(255, 255, 255, 0.1);
}

.sheet {
    width: 100%;
    flex: 1;
    border-top: 1px solid var(--color-black30);
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.filter {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filterLabel {
    font-size: 14px;
    font-family: var(--font-googlesans);
    color: var(--color-black80);
}

.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 14px;
    font-family: var(--font-googlesans);
    font-weight: 500;
    color: var(--color-black100);
    margin-left: 12px;
    cursor: pointer;
}

.resetIcon {
    width: 14px;
    height: 14px;
}