.sheet {
    width: 100%;
    flex: 1;
    border-top: 1px solid var(--color-black30);
}

:global(.wrapper.dark-theme) .sheet {
    border-top: 1px solid var(--color-black80);
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.filter {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filterLabel {
    font-size: 14px;
    font-family: var(--font-googlesans);
    color: var(--color-black80);
}

:global(.wrapper.dark-theme) .filterLabel {
    color: var(--color-black20)
}

.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 14px;
    font-family: var(--font-googlesans);
    font-weight: 500;
    composes: text100 from "../../styles/lightTheme.css";;
    margin-left: 12px;
    cursor: pointer;
}

.resetIcon {
    width: 14px;
    height: 14px;
}

:global(.wrapper.dark-theme) .resetIcon path {
    fill: var(--color-black20);
}