.lightGlassElement {
    background: var(--light-theme-main-bg-color);
    border: 1px solid var(--light-theme-main-border-color);
    -webkit-backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    box-shadow: 
        0 20px 40px var(--light-box-shadow-color1),
        inset 0 6px 12px var(--light-box-shadow-color2),
        inset 0 -6px 12px var(--light-box-shadow-color3);
}

.text100 {
    color: var(--color-black100);
}

.text90 {
    color: var(--color-black90);
}

.text80 {
    color: var(--color-black80);
}