.createHabit {
    position: absolute;
    right: 12px; bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    composes: lightGlassElement from "../../styles/lightTheme.css";
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
}

:global(.wrapper.dark-theme) .createHabit {
    background: var(--dark-theme-main-bg-color);
    border: 1px solid var(--dark-theme-main-border-color);
    -webkit-backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    box-shadow: 
        0 20px 40px var(--dark-box-shadow-color1),
        inset 0 6px 12px var(--dark-box-shadow-color2),
        inset 0 -6px 12px var(--dark-box-shadow-color3);
}

.createHabit:hover {
    background: rgba(200, 200, 200, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 
        0 20px 40px rgba(0, 0, 0, 0.20),
        inset 0 6px 12px rgba(255, 255, 255, 0.5),
        inset 0 -6px 12px rgba(255, 255, 255, 0.2);
}

.addIcon {
    width: 24px;
    height: 24px;
}

:global(.wrapper.dark-theme) .addIcon line {
    stroke: var(--color-white);
}