.sidemenu {
    width: 100%;
    padding: 24px 32px;
    border-radius: 16px;
    margin-bottom: 12px;
    composes: lightGlassElement from "../../styles/lightTheme.css";
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    font-size: 18px;
    line-height: 20px;
    font-family: var(--font-googlesans);
    composes: text100 from "../../styles/lightTheme.css";;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
}

.active.navItem {
    color: var(--color-ad-orange50);
}

.active.navItem path {
    fill: var(--color-ad-orange50);
}

.navItem:hover {
    color: var(--color-ad-orange50);
}

.icon {
    width: 20px;
    height: 20px;
}