.sidemenu {
    width: 100%;
    padding: 24px 32px;
    border-radius: 16px;
    margin-bottom: 12px;
    composes: lightGlassElement from "../../styles/lightTheme.css";
}

:global(.wrapper.dark-theme) .sidemenu {
    background: var(--dark-theme-main-bg-color);
    border: 1px solid var(--dark-theme-main-border-color);
    -webkit-backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    box-shadow: 
        0 20px 40px var(--dark-box-shadow-color1),
        inset 0 6px 12px var(--dark-box-shadow-color2),
        inset 0 -6px 12px var(--dark-box-shadow-color3);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    font-size: 18px;
    line-height: 20px;
    font-family: var(--font-googlesans);
    composes: text100 from "../../styles/lightTheme.css";;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
}

:global(.wrapper.dark-theme) .navItem {
    color: var(--color-white);
}

.active.navItem {
    color: var(--color-ad-orange50);
}

.active.navItem path {
    fill: var(--color-ad-orange50);
}

:global(.wrapper.dark-theme) .navItem  path {
    fill: var(--color-white);
}

:global(.wrapper.dark-theme) .active.navItem  path {
    fill: var(--color-ad-orange50);
}

.navItem:hover {
    color: var(--color-ad-orange50);
}

.icon {
    width: 20px;
    height: 20px;
}