.timeController {
    position: absolute;
    bottom: 12px; left: 50%;
    display: flex;
    align-items: center;
    gap: 12px;
    transform: translateX(-50%);
    padding: 12px;
    composes: lightGlassElement from "../../styles/lightTheme.css";
    border-radius: 12px;
}

:global(.wrapper.dark-theme) .timeController {
    background: var(--dark-theme-main-bg-color);
    border: 1px solid var(--dark-theme-main-border-color);
    -webkit-backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    backdrop-filter: blur(12px) url(#liquid-refraction) saturate(140%);
    box-shadow: 
        0 20px 40px var(--dark-box-shadow-color1),
        inset 0 6px 12px var(--dark-box-shadow-color2),
        inset 0 -6px 12px var(--dark-box-shadow-color3);
}

.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.arrow.disabled {
    filter: opacity(0.5);
    pointer-events: none;
}

.arrow path {
    transition: 0.2s all;
}

:global(.wrapper.dark-theme) .arrow path {
    stroke: var(--color-white);
}

.arrow:hover path {
    stroke: var(--color-black80);
}

:global(.wrapper.dark-theme) .arrow:hover path {
    stroke: var(--color-black20);
}

.arrow:last-of-type {
    transform: rotate(180deg);
}

.period {
    font-family: var(--font-googlesans);
    font-size: 16px;
    font-weight: 500;
    composes: text100 from "../../styles/lightTheme.css";;
    user-select: none;
}

:global(.wrapper.dark-theme) .period {
    color: var(--color-white);
}